<%
  url = params[:url] || 'about:blank'
  url = "http://#{url}" unless url.start_with?("http://") || url.start_with?("https://")
 %>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Responsive design testing for the masses">
    <title>Responsivator V.02</title>

    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" type='text/css'/>

    <script>
    var url = '<%= url %>';
    </script>
    <script src="/js/responsivatize.js"></script>

  </head>
<body id="responsivator"><!-- oncontextmenu="return false;" -->
  <header>
    <form method="post">
      <input type="text" placeholder="Introduce la URL y pulsa enter..." id="url" name="url" value="<%= url %>" class="r"/>
      <input type="submit" value="submit" class="hidden">
    </form>
    <div class="options">
      <!-- dimensiones se inyectan aquí -->
    </div>
    <div class="colors">
      <!-- colores se inyectan aquí -->
    </div>
    <div class="settings">
      <label for="vertical"><input type="checkbox" name="vertical" id="btn-vertical-layout"> Vertical</label>
      <a href="#" title="Usage is intuitive enough but:&#13; - Click color swatches to change background color&#13; - Ctrl + click to change foreground" class="cutre-help">(?) Cutre-help</a>
    </div>
  </header>
  <div id="frames">
      <!-- <div id="d_240x320" class="frame">
        <h2>240 x 320 <span>(small phone)</span></h2>
        <iframe src="http://www.google.com" sandbox="allow-same-origin allow-forms allow-scripts" seamless width="255" height="320"></iframe>
      </div> -->
  </div>
</body>
</html>
